web:
  build: .
  command: bundle exec rails s -p 3000 -b '0.0.0.0'
  volumes:
    - .:/myapp
  ports:
    - "3000:3000"
  links:
    - db
  environment:
    VIRTUAL_HOST: rails-template.docker
db:
  image: mongo:3.2.8
  command: mongod --smallfiles --quiet
